{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}
{% load i18n %}

{% block title %}
News
{% endblock title %}

{% block content %}
<h1>{% trans "Все публикации" %}</h1>
<h3>{% trans "Количество публикаций:" %} {{ news|length }}</h3>
   <hr>
   {% if news %}
       <table>
           <tr>
               <td> {% trans "Заголовок" %} </td>
               <td> {% trans "Категория" %} </td>
               <td> {% trans "Дата публикации" %} </td>
               <td> {% trans "Краткое содержание" %} </td>
           </tr>

           {% for new in news %}
           <tr>
               <td>
                   <a href="{% url 'news_detail' new.id %}">{{ new.title|censor }}</a>
               </td>
               <td>
                   {% for category in new.category.all %}
                        <a href="{% url 'category_list' category.id %}">{{category}}</a>
                   {% endfor %}
               </td>
               <td>{{ new.post_created|date:'d M Y' }}</td>
               <td>{{ new.post_content|truncatewords:20|censor }}</td>
           </tr>
           {% endfor %}
       </table>
   {% else %}
       <h2>{% trans "Новостей нет!" %}</h2>
   {% endif %}

   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}"><<</a>
       {% if page_obj.previous_page_number != 1 %}
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ '>>' }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}